<% layout("layouts/boilerplate") %>
<body>
    <h3>All listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <ul>
    <% for(let listings of allListings){ %>
        <li><a href="/listings/<%=listings._id%>"><%= listings.title %></a></li>
    <% } %>
    </ul>
</body>
