<% layout("layouts/boilerplate") %>
<body>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">

        <input name="listing[title]" placeholder="Enter Titile" type="text">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br><br>
        <input name="listing[image]" placeholder="Enter Image URL/link" type="text">
        <br><br>
        <input name="listing[price]" placeholder="Enter price" >
     
        <br><br>
        <input name="listing[location]" placeholder="Enter location" type="text">
        <br><br>
        <input name="listing[country]" placeholder="Enter country" type="text">
        <br><br>
        
        <button>Add</button>
    </form>
</body>
